<div class="row gx-md-8 gx-xl-12 gy-10">
    <div class="col-lg-6">
      <div class="d-flex flex-row">
        <div>
          <span class="icon btn btn-sm btn-circle btn-primary disabled me-5"><i class="uil uil-comment-exclamation"></i></span>
        </div>
        <div>
          <h4>Can I cancel my subscription?</h4>
          <p class="mb-0">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod maecenas.</p>
        </div>
      </div>
    </div>
    <!-- /column -->
    <div class="col-lg-6">
      <div class="d-flex flex-row">
        <div>
          <span class="icon btn btn-sm btn-circle btn-primary disabled me-5"><i class="uil uil-comment-exclamation"></i></span>
        </div>
        <div>
          <h4>Which payment methods do you accept?</h4>
          <p class="mb-0">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod maecenas.</p>
        </div>
      </div>
    </div>
    <!-- /column -->
    <div class="col-lg-6">
      <div class="d-flex flex-row">
        <div>
          <span class="icon btn btn-sm btn-circle btn-primary disabled me-5"><i class="uil uil-comment-exclamation"></i></span>
        </div>
        <div>
          <h4>How can I manage my Account?</h4>
          <p class="mb-0">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod maecenas.</p>
        </div>
      </div>
    </div>
    <!-- /column -->
    <div class="col-lg-6">
      <div class="d-flex flex-row">
        <div>
          <span class="icon btn btn-sm btn-circle btn-primary disabled me-5"><i class="uil uil-comment-exclamation"></i></span>
        </div>
        <div>
          <h4>Is my credit card information secure?</h4>
          <p class="mb-0">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod maecenas.</p>
        </div>
      </div>
    </div>
    <!-- /column -->
  </div>



 