
<header class="wrapper bg-soft-primary">
    <nav class="navbar navbar-expand-lg classic transparent position-absolute navbar-dark" [ngStyle]="{'background-color': element}">
      <div class="container flex-lg-row flex-nowrap align-items-center">
        <div class="navbar-brand w-100">
          <a routerLink="/home">
            <img class="logo-dark" src="../assets/img/logo-purple.png" srcset="./assets/img/logo-purple@2x.png 2x" alt="" />
            <img class="logo-light" src="../assets/img/logo-light.png" srcset="./assets/img/logo-light@2x.png 2x" alt="" />
          </a>
        </div>
        <div class="navbar-collapse offcanvas-nav">
          <div class="offcanvas-header d-lg-none d-xl-none">
            <a routerLink="/home"><img src="./assets/img/logo-light.png" srcset="./assets/img/logo-light@2x.png 2x" alt="" /></a>
            <button type="button" class="btn-close btn-close-white offcanvas-close offcanvas-nav-close" aria-label="Close"></button>
          </div>
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" [routerLink]="['/home']" fragment="first">WHAT WE DO?</a>
            
              <!--/.dropdown-menu -->
            </li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/home']" fragment="second">CHOOSE US?</a>
             
            </li>
            <li class="nav-item "><a class="nav-link " [routerLink]="['/home']" fragment="third">SOLUTIONS</a>
             
            </li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" >Blog</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="dropdown-item" href="">CASE STUDIES 1</a></li>
                <li class="nav-item"><a class="dropdown-item" href="">CASE STUDIES 2</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" routerLink="/whoweare1">WHO ARE WE 1?</a>
              
              <!--/.dropdown-menu -->
            </li>
            <li class="nav-item"><a class="nav-link" routerLink="/whoweare2">WHO ARE WE 2?</a>
              
              <!--/.dropdown-menu -->
            </li>
          </ul>
          <!-- /.navbar-nav -->
        </div>
        <!-- /.navbar-collapse -->
        <div class="navbar-other ms-lg-4">
          <ul class="navbar-nav flex-row align-items-center ms-auto" data-sm-skip="true">
            <li class="nav-item d-none d-md-block">
              <a href="#" class="btn btn-sm btn-white rounded-pill">Free Trial</a>
            </li>
            <li class="nav-item d-lg-none">
              <div class="navbar-hamburger"><button class="hamburger animate plain" data-toggle="offcanvas-nav"><span></span></button></div>
            </li>
          </ul>
          <!-- /.navbar-nav -->
        </div>
        <!-- /.navbar-other -->
      </div>
      <!-- /.container -->
    </nav>
    <!-- /.navbar -->
  </header>