<div class="row mt-md-n50p text-white text-center">
    <div class="col-xl-10 mx-auto mb-14 mb-lg-n6">
      <div class="card image-wrapper bg-full bg-image bg-overlay bg-overlay-400" data-image-src="assets/img/photos/bg2.jpg">
        <div class="card-body p-9 p-xl-12">
          <div class="row gx-0">
            <div class="col-xxl-9 mx-auto">
              <div class="basic-slider owl-carousel dots-dark gap-small mb-0" data-margin="30">
                <div class="item">
                  <span class="ratings five mb-3"></span>
                  <blockquote class="border-0 fs-lg mb-2">
                    <p>“Vivamus sagittis lacus augue laoreet rutrum faucibus auctor vestibulum ligula porta felis, euismod semper cras justo odio consectetur.”</p>
                    <div class="blockquote-details justify-content-center text-center">
                      <div class="info ps-0">
                        <h5 class="mb-1 text-white">Coriss Ambady</h5>
                        <p class="mb-0">Financial Analyst</p>
                      </div>
                    </div>
                  </blockquote>
                </div>
                <!-- /.item -->
                <div class="item">
                  <span class="ratings five mb-3"></span>
                  <blockquote class="border-0 fs-lg mb-2">
                    <p>“Vivamus sagittis lacus augue laoreet rutrum faucibus auctor vestibulum ligula porta felis, euismod semper cras justo odio consectetur.”</p>
                    <div class="blockquote-details justify-content-center text-center">
                      <div class="info ps-0">
                        <h5 class="mb-1 text-white">Cory Zamora</h5>
                        <p class="mb-0">Marketing Specialist</p>
                      </div>
                    </div>
                  </blockquote>
                </div>
                <!-- /.item -->
                <div class="item">
                  <span class="ratings five mb-3"></span>
                  <blockquote class="border-0 fs-lg mb-2">
                    <p>“Vivamus sagittis lacus augue laoreet rutrum faucibus auctor vestibulum ligula porta felis, euismod semper cras justo odio consectetur.”</p>
                    <div class="blockquote-details justify-content-center text-center">
                      <div class="info ps-0">
                        <h5 class="mb-1 text-white">Nikolas Brooten</h5>
                        <p class="mb-0">Sales Manager</p>
                      </div>
                    </div>
                  </blockquote>
                </div>
                <!-- /.item -->
              </div>
              <!-- /.owl-carousel -->
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!--/.card-body -->
      </div>
      <!--/.card -->
    </div>
    <!-- /column -->
  </div>
