
 <div class="row text-center">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h2 class="fs-15 text-uppercase text-primary mb-3">Our Pricing</h2>
      <h3 class="display-4 mb-10 px-xl-10">We offer great prices, premium products and quality service for your business.</h3>
    </div>
    <!-- /column -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-xl-11 mx-auto">
      <div class="pricing-wrapper position-relative mb-10 mb-md-14">
        <div class="shape bg-dot primary rellax w-16 h-18" data-rellax-speed="1" style="top: 2rem; right: -2.4rem;"></div>
        <div class="shape rounded-circle bg-line primary rellax w-18 h-18 d-none d-lg-block" data-rellax-speed="1" style="bottom: 0.5rem; left: -2.5rem;"></div>
        <div class="pricing-switcher-wrapper switcher">
          <p class="mb-0 pe-3">Monthly</p>
          <div class="pricing-switchers">
            <div class="pricing-switcher pricing-switcher-active"></div>
            <div class="pricing-switcher"></div>
            <div class="switcher-button bg-primary"></div>
          </div>
          <p class="mb-0 ps-3">Yearly</p>
        </div>
        <div class="row gy-6 mt-3 mt-md-5">
          <div class="col-md-6 col-lg-4">
            <div class="pricing card">
              <div class="card-body">
                <div class="prices text-dark">
                  <div class="price price-show"><span class="price-currency">$</span><span class="price-value">9</span> <span class="price-duration">month</span></div>
                  <div class="price price-hide price-hidden"><span class="price-currency">$</span><span class="price-value">99</span> <span class="price-duration">year</span></div>
                </div>
                <!--/.prices -->
                <h4 class="card-title mt-2">Basic Plan</h4>
                <ul class="icon-list bullet-bg bullet-soft-primary mt-8 mb-9 text-start">
                  <li><i class="uil uil-check"></i><span><strong>1</strong> Project </span></li>
                  <li><i class="uil uil-check"></i><span><strong>100K</strong> API Access </span></li>
                  <li><i class="uil uil-check"></i><span><strong>100MB</strong> Storage </span></li>
                  <li><i class="uil uil-check"></i><span> Weekly <strong>Reports</strong> </span></li>
                  <li><i class="uil uil-check"></i><span> 7/24 <strong>Support</strong></span></li>
                </ul>
                <a href="#" class="btn btn-primary rounded-pill">Choose Plan</a>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.pricing -->
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-4 popular">
            <div class="pricing card">
              <div class="card-body">
                <div class="prices text-dark">
                  <div class="price price-show"><span class="price-currency">$</span><span class="price-value">19</span> <span class="price-duration">month</span></div>
                  <div class="price price-hide price-hidden"><span class="price-currency">$</span><span class="price-value">199</span> <span class="price-duration">year</span></div>
                </div>
                <!--/.prices -->
                <h4 class="card-title mt-2">Premium Plan</h4>
                <ul class="icon-list bullet-bg bullet-soft-primary mt-8 mb-9 text-start">
                  <li><i class="uil uil-check"></i><span><strong>5</strong> Projects </span></li>
                  <li><i class="uil uil-check"></i><span><strong>100K</strong> API Access </span></li>
                  <li><i class="uil uil-check"></i><span><strong>200MB</strong> Storage </span></li>
                  <li><i class="uil uil-check"></i><span> Weekly <strong>Reports</strong></span></li>
                  <li><i class="uil uil-check"></i><span> 7/24 <strong>Support</strong></span></li>
                </ul>
                <a href="#" class="btn btn-primary rounded-pill">Choose Plan</a>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.pricing -->
          </div>
          <!--/column -->
          <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-0">
            <div class="pricing card">
              <div class="card-body">
                <div class="prices text-dark">
                  <div class="price price-show"><span class="price-currency">$</span><span class="price-value">49</span> <span class="price-duration">month</span></div>
                  <div class="price price-hide price-hidden"><span class="price-currency">$</span><span class="price-value">499</span> <span class="price-duration">year</span></div>
                </div>
                <!--/.prices -->
                <h4 class="card-title mt-2">Corporate Plan</h4>
                <ul class="icon-list bullet-bg bullet-soft-primary mt-8 mb-9 text-start">
                  <li><i class="uil uil-check"></i><span><strong>20</strong> Projects </span></li>
                  <li><i class="uil uil-check"></i><span><strong>300K</strong> API Access </span></li>
                  <li><i class="uil uil-check"></i><span><strong>500MB</strong> Storage </span></li>
                  <li><i class="uil uil-check"></i><span> Weekly <strong>Reports</strong></span></li>
                  <li><i class="uil uil-check"></i><span> 7/24 <strong>Support</strong></span></li>
                </ul>
                <a href="#" class="btn btn-primary rounded-pill">Choose Plan</a>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.pricing -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!--/.pricing-wrapper -->
      <app-pricing-wrapper></app-pricing-wrapper>
      <!-- /.row -->
    </div>
    <!-- /column -->
  </div>