<div class="row mb-3">
    <div class="col-md-10 col-lg-12 col-xl-10 col-xxl-9 mx-auto text-center">
      <h2 class="fs-15 text-uppercase text-primary mb-3">Our Team</h2>
      <h3 class="display-4 mb-7 px-lg-19 px-xl-18">Think unique and be innovative. Make a difference with Sandbox.</h3>
    </div>
    <!--/column -->
  </div>
  <!--/.row -->
  <div class="row grid-view gx-md-8 gx-xl-10 gy-8 gy-lg-0 mb-md-20">
    <div class="col-md-6 col-lg-3">
      <div class="position-relative">
        <div class="shape rounded bg-soft-primary rellax d-md-block" data-rellax-speed="0" style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index:0"></div>
        <div class="card">
          <figure class="card-img-top"><img class="img-fluid" src="assets/img/avatars/t1.jpg" srcset="assets/img/avatars/t1@2x.jpg 2x" alt="" /></figure>
          <div class="card-body px-6 py-5">
            <h4 class="mb-1">Coriss Ambady</h4>
            <p class="mb-0">Financial Analyst</p>
          </div>
          <!--/.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /div -->
    </div>
    <!--/column -->
    <div class="col-md-6 col-lg-3">
      <div class="position-relative">
        <div class="shape rounded bg-soft-primary rellax d-md-block" data-rellax-speed="0" style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index:0"></div>
        <div class="card">
          <figure class="card-img-top"><img class="img-fluid" src="assets/img/avatars/t2.jpg" srcset="./assets/img/avatars/t2@2x.jpg 2x" alt="" /></figure>
          <div class="card-body px-6 py-5">
            <h4 class="mb-1">Cory Zamora</h4>
            <p class="mb-0">Marketing Specialist</p>
          </div>
          <!--/.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /div -->
    </div>
    <!--/column -->
    <div class="col-md-6 col-lg-3">
      <div class="position-relative">
        <div class="shape rounded bg-soft-primary rellax d-md-block" data-rellax-speed="0" style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index:0"></div>
        <div class="card">
          <figure class="card-img-top"><img class="img-fluid" src="assets/img/avatars/t3.jpg" srcset="assets/img/avatars/t3@2x.jpg 2x" alt="" /></figure>
          <div class="card-body px-6 py-5">
            <h4 class="mb-1">Nikolas Brooten</h4>
            <p class="mb-0">Sales Manager</p>
          </div>
          <!--/.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /div -->
    </div>
    <!--/column -->
    <div class="col-md-6 col-lg-3">
      <div class="position-relative">
        <div class="shape rounded bg-soft-primary rellax d-md-block" data-rellax-speed="0" style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index:0"></div>
        <div class="card">
          <figure class="card-img-top"><img class="img-fluid" src="assets/img/avatars/t4.jpg" srcset="assets/img/avatars/t4@2x.jpg 2x" alt="" /></figure>
          <div class="card-body px-6 py-5">
            <h4 class="mb-1">Jackie Sanders</h4>
            <p class="mb-0">Investment Planner</p>
          </div>
          <!--/.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /div -->
    </div>
    <!--/column -->
  </div>